html {
    width : 100%;
    height : 100%;
}



.navbar {
    background-color: #F3E9F1;
    margin-bottom: 50px;
}

.section-title {
    margin-bottom: 50px;
}

#camList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.camBox {
    border: 1px solid black;
    width: 252px;
    margin-bottom: 50px;
}

.camBox > a {
    position: absolute;
    width: 250px;
    height: 445px;
}
.camForm {
    padding: .5em .5em;
}

.imgBox {
    width: 250px;
    height: 250px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#actualProduct > .box {
    display: flex;
    flex-direction: row;
}

#actualProduct > .box > .camForm {
    width: 55%;
    margin-left: 3rem;
}

form {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: auto;
}







#addToBasket {
    margin-top: 5rem; 
    
}
.basketBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.miniImg {
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.boxPM {
    display: flex;
    justify-content: space-around;
}

.mini {
    width: 25px;
    height: 25px;
}
/*    FOOTER     */

footer {
    background-color:#F3E9F1 ;
}
.social {
    font-size: 30px;
    color: #198754;
}