*{
    margin: 0;
    padding: 0;
}
main {
    margin-bottom: 150px;
}

.navbar {
    background-color: #F3E9F1;
    margin-bottom: 50px;
}

.card-img-top {
    margin: 10px 0;
    max-width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.productImg {
    width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#choiseBox {
    width: 33%;
    margin-bottom: 20px;
}

.form-label {
    display: flex;
}

table {
    text-align: center;
    vertical-align: middle;
}

.basketBox {
    vertical-align: middle;
}

.miniImg {
    max-width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#sum {
    font-weight: 700;
}
.order {
    padding: 50px;
}

#finalPage {
    margin: 100px 50px;
}

/*    FOOTER     */

footer {
    margin-top: 20px;
    background-color:#F3E9F1;
    bottom:0;
    position: fixed;
    width: 100%;
}

.social {
    font-size: 30px;
    color: #198754 ;
}