.navbar {
    background-color: #F3E9F1;
    margin-bottom: 50px;
}

.section-title {
    margin-bottom: 50px;;
}

#camList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.camBox {
    border: 1px solid black;
    width: 252px;
    margin-bottom: 30px;
}

.camBox > a {
    position: absolute;
    width: 250px;
    height: 445px;
}

.imgBox {
    width: 250px;
    height: 250px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#actualProduct > .box {
    display: flex;
    flex-direction: row;
}

#actualProduct > .box > .camForm {
    width: 55%;
    margin-left: 3rem;
}

li {
    list-style-type: none;
}

#addToBasket {
    margin-top: 5rem; 
    
}